In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_csv("loan_approval_dataset.csv")

In [3]:
data

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [4]:
# Display the first few rows
data.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [5]:

# Check for missing values
data.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

# 1.What is the overall loan approval rate in the dataset?

In [6]:
data[' loan_status'].value_counts(normalize=True)

 Approved    0.62216
 Rejected    0.37784
Name:  loan_status, dtype: float64

# 2.What is the distribution of loan amounts requested?

In [7]:
# Loan Amount Distribution
data[' loan_amount'].describe()

count    4.269000e+03
mean     1.513345e+07
std      9.043363e+06
min      3.000000e+05
25%      7.700000e+06
50%      1.450000e+07
75%      2.150000e+07
max      3.950000e+07
Name:  loan_amount, dtype: float64

# 3.What is the distribution of loan terms requested?

In [8]:
# Loan Term Distribution
print("\nLoan Term Distribution:")
data[' loan_term'].value_counts()

Loan Term Distribution:

6     490
12    456
4     447
10    436
18    422
16    412
20    411
14    405
2     404
8     386
Name:  loan_term, dtype: int64

# 4.What is the distribution of CIBIL (credit) scores in the dataset?

In [9]:
# Credit Score Distribution
print("\nCredit Score Distribution:")
data[' cibil_score'].describe()

Credit Score Distribution:

count    4269.000000
mean      599.936051
std       172.430401
min       300.000000
25%       453.000000
50%       600.000000
75%       748.000000
max       900.000000
Name:  cibil_score, dtype: float64

# 5.What is the distribution of different asset values (residential, commercial, luxury, and bank assets)?

In [10]:
# Asset Value Distribution
print("\nAsset Value Distribution:")
for asset in [' residential_assets_value', ' commercial_assets_value', ' luxury_assets_value', ' bank_asset_value']:
    print(f"{asset}:")
    print(data[asset].describe())

Asset Value Distribution:
 residential_assets_value:
count    4.269000e+03
mean     7.472617e+06
std      6.503637e+06
min     -1.000000e+05
25%      2.200000e+06
50%      5.600000e+06
75%      1.130000e+07
max      2.910000e+07
Name:  residential_assets_value, dtype: float64
 commercial_assets_value:
count    4.269000e+03
mean     4.973155e+06
std      4.388966e+06
min      0.000000e+00
25%      1.300000e+06
50%      3.700000e+06
75%      7.600000e+06
max      1.940000e+07
Name:  commercial_assets_value, dtype: float64
 luxury_assets_value:
count    4.269000e+03
mean     1.512631e+07
std      9.103754e+06
min      3.000000e+05
25%      7.500000e+06
50%      1.460000e+07
75%      2.170000e+07
max      3.920000e+07
Name:  luxury_assets_value, dtype: float64
 bank_asset_value:
count    4.269000e+03
mean     4.976692e+06
std      3.250185e+06
min      0.000000e+00
25%      2.300000e+06
50%      4.600000e+06
75%      7.100000e+06
max      1.470000e+07
Name:  bank_asset_value, dtype: float64


# 6.How does the number of dependents impact loan approval/rejection?

In [11]:

# Dependents Analysis
print("\nDependents Analysis:")
print(data.groupby(' no_of_dependents')[' loan_status'].value_counts(normalize=True))

Dependents Analysis:
 no_of_dependents   loan_status
0                   Approved       0.641854
                    Rejected       0.358146
1                   Approved       0.616930
                    Rejected       0.383070
2                   Approved       0.622881
                    Rejected       0.377119
3                   Approved       0.628611
                    Rejected       0.371389
4                   Approved       0.618351
                    Rejected       0.381649
5                   Approved       0.603269
                    Rejected       0.396731
Name:  loan_status, dtype: float64

# 7.How does the education level (Graduate or Not Graduate) influence loan approval/rejection?

In [12]:

# Education Level Analysis
print("\nEducation Level Analysis:")
data.groupby(' education')[' loan_status'].value_counts(normalize=True)

Education Level Analysis:

 education      loan_status
 Graduate       Approved       0.624534
                Rejected       0.375466
 Not Graduate   Approved       0.619765
                Rejected       0.380235
Name:  loan_status, dtype: float64

# 6.How does the self-employment status (Yes or No) affect loan approval/rejection?

In [13]:
# Self-Employment Status Analysis
print("\nSelf-Employment Status Analysis:")
data.groupby(' self_employed')[' loan_status'].value_counts(normalize=True)

Self-Employment Status Analysis:

 self_employed   loan_status
 No              Approved       0.621992
                 Rejected       0.378008
 Yes             Approved       0.622326
                 Rejected       0.377674
Name:  loan_status, dtype: float64

# 7.What is the distribution of annual income in the dataset?

In [15]:
# Income Analysis
print("\nIncome Analysis:")
print(data[' income_annum'].describe())

Income Analysis:
count    4.269000e+03
mean     5.059124e+06
std      2.806840e+06
min      2.000000e+05
25%      2.700000e+06
50%      5.100000e+06
75%      7.500000e+06
max      9.900000e+06
Name:  income_annum, dtype: float64